**/*.ts
**/*.map
.vscode/**
lib/**
typings/**
testapp/**
testdata/**
test/**
*.vsix
gulpfile.js
tsconfig.json
tsd.json
tslint.json
webpack.config.js

out/src/**
out/test/**

node_modules/.bin/**
node_modules/bufferutil/**
node_modules/utf-8-validate/**
